@import "../../assets/scss/variables";

.tickets {
  background-color: $light-blue;
  min-height: 100vh;
  height: auto;

  .content {
    width: 100%;

    .card {
      border-radius: 8px;

      .btn {
        &.dropdown-toggle {
          color: $light-grey;
          background-color: transparent !important;
          border: none;
        }
      }

      .sort {
        cursor: pointer;
      }

      .filter {
        cursor: pointer;
      }

      .icons {
        color: $light-grey;
        width: 16px;
      }

      .table-responsive {
        max-width: 100%;
        width: 78.75vw;
      }

      .dataTable {
        width: 100% !important;

        td {
          padding: 16px 8px;
          margin-top: 8px;
          text-transform: capitalize;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 16px;
          }

          .detail {
            cursor: pointer;
            min-width: none !important;
          }
        }

        .priority-high {
          color: $white;
          background-color: $red;
          padding: 4px;
          border-radius: 16px;
        }

        .priority-normal {
          color: $white;
          background-color: $green;
          padding: 4px 16px;
          border-radius: 16px;
        }

        .priority-low {
          color: $white;
          background-color: $yellow;
          padding: 4px 16px;
          border-radius: 16px;
        }
      }
    }
  }

  &.darkTheme {
    background-color: $dark-grey-120;

    .table {
      background-color: $black-doff !important;
    }

    td {
      color: $white !important;
    }

    th {
      color: $white !important;
    }

    .header {
      h2 {
        color: $white;
      }

      .icons {
        color: $white;
      }

      .toggle-language {
        span {
          color: $white;

          &.active {
            border-bottom: 2px solid $white;
          }
        }
      }

      .divider {
        background-color: $white;
      }

      p {
        color: $white;
      }
    }

    .content {
      .card {
        background-color: $black-doff;
      }

      h3 {
        color: $white;
      }

      h1 {
        color: $white;
      }

      p {
        color: $white !important;
      }

      span {
        color: $white !important;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}