$white: #ffffff;
$black: #262626;
$dark-grey: #363740;
$dark-grey-120: #2D2E35;
$dark-grey-80: #3e4049;
$black-doff: #26272c;
$light-grey: #a1a4b5;
$blue: #3751ff;
$light-blue: #f7f8fc;
$red: #f12d2e;
$yellow: #fec400;
$green: #29cc97;
