@import "../../assets/scss/variables";

.header {
  width: 100%;

  .icons {
    color: $light-grey;
  }

  .toggle-theme {
    cursor: pointer;
  }

  .toggle-language {
    span {
      color: $light-grey;
      margin: 0;
      cursor: pointer;

      &.active {
        border-bottom: 2px solid $light-grey;
      }
    }
  }

  .toggle-search {
    cursor: pointer;
  }

  .toggle-notifications {
    cursor: pointer;
  }

  .divider {
    width: 1px;
    height: 24px;
    background-color: $light-grey;
  }

  @media only screen and (max-width: 486px) {
    .content {
      flex-direction: column-reverse;
      align-items: start !important;
      row-gap: 16px;
    }
  }
}