@import "../../assets/scss/variables";

.login-form {
  span {
    margin-left: -40px;
    cursor: pointer;
  }

  .form-control {
    height: 48px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .forgot-password {
    color: $light-grey;
    font-size: 12px;
    cursor: pointer;
  }

  .invalid {
    color: $light-grey;
  }

  .btn {
    background-color: $blue;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border: none;

    &:disabled {
      background-color: $light-grey;
    }
  }
}